@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=VT323&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body,
#root {
  height: 100%;
  background-color: #0D1B2A;
  font-family: 'vt323', monospace;
  @apply text-white;
}